In [15]:
EU = 'Eastern University'

In [16]:
EU[-0]

'E'

In [17]:
x = 'Eastern University'
x[0] = 'E'

TypeError: 'str' object does not support item assignment

In [18]:
y = 'data science for all'
y[12:17]

' for '

In [19]:
x = "philadelphia eagles"
x[5:9]

'delp'

In [21]:
x = int("1" + "2")
x

12

In [22]:
"Hello" + " World"

'Hello World'

In [23]:
numbers = [1, 0, 8, 9, 1, 2, 3, 7, 9, 5, 0, 2]
print(numbers[5:8])

[2, 3, 7]

In [24]:
a = [2, 4, 2, 3, 5, 6]
a*2

[2, 4, 2, 3, 5, 6, 2, 4, 2, 3, 5, 6]

In [25]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[2:6]

[3, 4, 5, 6]

In [26]:
a = [3, 5, 2, 1, 0, 5]
len(a*3)

18

In [27]:
random = ['Hello', 10, '5', 6.0, 4.5, 7]
len(random)

6

In [28]:
numbers = [1, 0, 8, 9, 1, 2, 3, 7, 9, 5, 0, 2]
print(numbers[7:3])

[]

In [29]:
c = [2, 4, 5, 7]
d = [6, 2, 3]
c.append(d)
len(c)

5

In [30]:
'Eastern University' == 'eastern university'

False

In [31]:
int(2.0)

2

In [32]:
type(5)

int

In [33]:
x = 'Data Science'
type(x)

str

In [34]:
type(3.14)

float

In [37]:
print("Hello World")

Hello World

In [38]:
def fun2(x):
        return x*x
fun2(3)

9

In [39]:
def fun1():
    "Prints 'Hello World'"
    print("Hello world")
fun1()

Hello world

In [41]:
i = 1
while i<= 3:
    print(i)
    i += 1

1
2
3

In [42]:
x = 5
y = x * 2
z = y - 3
z

7